body{
    font-family: 'Roboto', sans-serif ;
    margin: 0;
}

h1{
    font-size: 50px;
}
h3{
    font-size: 17px ;
}
span{
    color: orange;
}
.flexible{
    display: flex; 
    margin-bottom: 100px;
}
.half-width{
    width: 50% ;
    padding: 0px 90px;
}
.half-width p{
    font-weight: 300;
    font-size: 20px;
}
.half-width img{
    width: 100%;
}
.half-width a{
    background-image: linear-gradient(rgb(241, 153, 19),rgb(247, 177, 86));
    padding: 12px 40px;
    text-decoration: none;
    font-weight: 700;
    color: white;
    border-radius: 5px;
}
.top{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.middle{
    padding: 70px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.color{
    color: orange;
}
.bottom {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
}
.area h1{
    font-size: 50px;
}
.bottom h2{
    font-size: 35px;
}
.bottom .half-width{
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px grey ;
    border-radius: 10px;
    padding: 40px 20px;
}